.users-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}
.user-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}


.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.add-button {
  background-color: #3b82f6;
  color: white;
  padding: 8px 16px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: background-color 0.2s;
  width: 200px;
  height: 45px;
  padding: 2.5px;
}

.export-button{
  background-color: #3b82f6;
  color: white;
  padding: 8px 16px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  transition: background-color 0.2s;
  width: 200px;
  margin-right:45% ;
  margin-left: 5px;
  height: 45px;
}

.add-button:hover {
  background-color: #0c3fac;
}


.add-button-icon {
  margin-right: 8px;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  border: 1px solid #d1d5db;
}

.table-header {
  background-color: #f3f4f6;
}

.table-cell, .table-header-cell {
  border: 1px solid #d1d5db;
  padding: 8px;
}

.action-button {
  color: #3b82f6;
  transition: color 0.2s;
  margin-right: 8px;
  border: none; /* Remove the border */
  background: none; /* Remove any background */
  cursor: pointer;  /* Ensure it still looks like a clickable button */
}

.action-button:hover {
  color: #2563eb;
}

.delete-button {
  color: #ef4444;
  transition: color 0.2s;
  border: none; /* Remove the border */
  background: none; /* Remove any background */
  cursor: pointer;  /* Ensure it still looks like a clickable button */
}

.delete-button:hover {
  color: #dc2626;
}

@media (max-width: 767px) {
  .users-container {
    padding: 8px;
  }

  .table-container {
    margin-top: 16px;
  }

  .table-header-cell,
  .table-cell {
    padding: 8px 4px;
  }

  .action-button,
  .delete-button {
    padding: 4px;
  }
}