// global css variables
:root {
    --header-height: 50px;
}

// basic css reset
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    * {
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}
